﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.start-end-price{
    margin-top:5px;
}

.form{
    border-radius:0px;
}

.form input,
.select2,
.form textarea,
.form select{
    border-radius:0!important;
}

.form .form__row{
    margin-bottom:15px;
}

.form .form__heading{
    background-color:#bfbfbf;
    border-radius:0px;
    color:#fff;
    font-weight:900;
    padding:9px 12px;
    border:1px solid #bfbfbf;
    text-transform:uppercase;
    font-size:13px;
}

.form .form__row-label{
    text-align:right;
    display:block;
    font-weight:400;
    width:100%;
}

.form .form__textarea{
    width:100%;
    border:1px solid #c2cad8;
}

.form .form__textarea::-webkit-scrollbar {
    background-color:#efefef;
    border:none;
    width:6px;
    padding:4px;
}

.form .form__textarea::-webkit-scrollbar-thumb{
    background-color:#ccc;
    border-radius:3px;
}

.form .form__textarea::-webkit-scrollbar-button {
    display:none;
}

.form .form__label{
    font-weight:400;
    line-height:22px;
    padding-right:15px;
}

.form .form__price-input{
    max-width:300px;
    display:inline-block;
    margin-right:15px;
    margin-bottom:10px;
}

.form .form__price-input_curency{
    width:auto;
    font-size:16px;
}

.form .form__controls-label_top{
    float:left;
    margin-right:15px;
}

.form .form__checkbox{
    position:absolute;
    display:none;
}

.form .form__checkbox-dummy{
    content:'';
    display:block;
    float:left;
    width:22px;
    height:22px;
    border:1px solid #D8D4CE;
    color:#fff;
    line-height:16px;
    margin-right:5px;
    padding-left:3px;
    font-size:12px;
    transition:0.1s ease-in-out;
}

.form .form__checkbox:checked + .form__checkbox-dummy{
    background-color:#2489C5;
    border:1px solid #2489C5;
}

.form .form__radio{
    position:absolute;
    display:none;
}

.form .form__radio-dummy{
    content:'';
    display:block;
    float:left;
    width:22px;
    height:22px;
    border:1px solid #D8D4CE;
    border-radius:50%;
    color:#fff;
    line-height:16px;
    margin-right:5px;
    padding-left:3px;
    font-size:12px;
    transition:0.1s ease-in-out;
    font-weight:300;
}

.form .form__radio:checked + .form__radio-dummy{
    background-color:#2489C5;
    border:1px solid #2489C5;
}

.form .form__input_count-order{
    width:auto;
    font-size:12px;
}

.table input,
.table select{
    margin-bottom:10px;
}

.table .table__number{
    width:3%;
}

.table .table__count{
    width:10%;
}

.table .table__codes{
    width:50%;
}

.table .table__desc{
    width:37%;
}