﻿@{
    ViewBag.Title = "Home Page";
}

<form class="panel panel-default form">
    <div class="panel-heading form__heading">
        Лот №1
    </div>
    <div class="panel-body">
        <div class="row form__row">
            <div class="col-md-4">
                <label class="form__row-label" for="name">Наименование *</label>
            </div>
            <div class="col-md-8">
                <textarea class="form-control form__textarea" name="name"  id="name" rows="3"></textarea>
            </div>
        </div>
        <div class="row form__row">
            <div class="col-md-4">
                <label class="form__row-label" for="name">Тип ценового предложения</label>
            </div>
            <div class="col-md-8">
                <label class="form__label" for="price_lot">
                    <input type="radio" name="price" value="lot" id="price_lot" class="form__radio" checked>
                    <span class="form__radio-dummy glyphicon glyphicon-ok"></span>
                    За лот
                </label>
                <label class="form__label" for="price_amount">
                    <input type="radio" name="price" value="amount" id="price_amount" class="form__radio"> 
                    <span class="form__radio-dummy glyphicon glyphicon-ok"></span>
                    За еденицу продукции
                </label>
                <div class="start-end-price">
                    <label class="form__label" for="start-end-price">
                        <input type="checkbox" name="start-end-price" id="start-end-price" class="form__checkbox">
                        <span class="form__checkbox-dummy glyphicon glyphicon-ok"></span>
                        Начальная/максимальная цена не установлена
                    </label>
                </div>
            </div>
        </div>
        <div class="row form__row form__row_price">
            <div class="col-md-4">
                <label class="form__row-label" for="start-end-ammount">Начальная/максимальная цена с НДС *</label>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control input-lg form__price-input" name="start-end-ammount" />
                <select class="form-control input-lg form__price-input form__price-input_curency" name="start-end-curency" disabled>
                    <option value="rub" selected>руб.</option>
                </select>
                <div class="clearfix"></div>
                <label class="form__label" for="nds-state">
                    <input type="checkbox" name="nds-state" id="nds-state" class="form__checkbox" checked>
                    <span class="form__checkbox-dummy glyphicon glyphicon-ok"></span> Указать сведения об НДС
                </label>
                <div class="nds-controls">
                    <div class="form__controls-label_top">
                        <label class="form__label" for="nds-type">Ставка НДС</label>
                        <select class="form-control" name="nds-type">
                            <option value="0">Не облагается НДС</option>
                            <option value="0.1">10%</option>
                            <option value="0.18" selected>18%</option>
                        </select>
                    </div>
                    <div class="form__controls-label_top">
                        <label class="form__label" for="nds-all">Сумма НДС</label>
                        <input class="form-control" id="nds-all" readonly />
                    </div>
                    <div class="form__controls-label_top">
                        <label class="form__label" for="without-nds">Цена без НДС</label>
                        <input class="form-control" id="without-nds" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="form__row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td class="table__number">№</td>
                        <td class="table__count">Количество</td>
                        <td class="table__codes">ОКЭВД2/ОКПД2</td>
                        <td class="table__desc">Доп. сведения</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table__number">
                            1
                        </td>
                        <td class="table__count">
                            <input type="number" name="count" class="form-control" placeholder="Количество *">
                            <select name="count-oreder" class="form__input_count-order form-control">
                                <option selected>Иной порядок определения количества</option>
                                <option>Порядок 1</option>
                                <option>Порядок 2</option>
                            </select>
                        </td>
                        <td class="table__codes">
                            <div class="row">
                                <div class="col-md-2">ОКЭВД2*</div>
                                <div class="col-md-10"> 
                                    <select name="okevd2" class="form-control"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">ОКПД2</div>
                                <div class="col-md-10">
                                    <select name="okpd2" class="form-control"></select>
                                </div>
                            </div>
                        </td>
                        <td class="table__desc">
                            <textarea class="form-control form__textarea" rows="3"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>